@import "tailwindcss";
@import "./typeset.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-serif: var(--font-merriweather);
  --font-mono: var(--font-geist-mono);

  --default-font-family: var(--font-serif);
}

@layer components {
  .typeset-docs {
    --typeset-font-body: var(--font-merriweather);
    --typeset-font-heading: var(--font-merriweather);
    --typeset-font-mono: var(--font-geist-mono);
    --typeset-size: 15px;
    --typeset-leading: 1.75;
    --typeset-flow: 1.25em;
  }

  /* Custom styles for code blocks */
  pre {
    overflow-x: auto;
    padding: 1.25rem;
    border-radius: 0.75rem;
    background-color: var(--color-neutral-50);
    border: 1px solid var(--color-neutral-200);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .dark pre {
    background-color: var(--color-neutral-900);
    border-color: var(--color-neutral-800);
  }

  pre code {
    font-size: 0.875rem;
    line-height: 1.7142857;
    padding: 0 !important;
    background: transparent !important;
    font-family: var(--font-mono);
  }
}

@utility container {
  @apply mx-auto px-4 md:max-w-3xl md:px-8;
}
