@font-face {
  font-family: "Google Sans Flex";
  src: url("/fonts/GoogleSansFlex-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --ff-base: "Google Sans Flex", sans-serif;
  --wrapper-size: 1280px;

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);

  --clr-neutral-50: hsl(228, 30%, 96%);
  --clr-neutral-100: hsl(228, 28%, 90%);
  --clr-neutral-200: hsl(228, 26%, 80%);
  --clr-neutral-300: hsl(228, 24%, 68%);
  --clr-neutral-400: hsl(228, 22%, 55%);
  --clr-neutral-500: hsl(228, 20%, 42%);
  --clr-neutral-600: hsl(228, 30%, 30%);
  --clr-neutral-700: hsl(228, 45%, 20%);
  --clr-neutral-800: hsl(228, 60%, 12%);
  --clr-neutral-900: hsl(228, 75%, 8%);
  --clr-neutral-950: hsl(228, 81%, 4%);

  --color-scheme: light;
  --clr-brand: hsl(220, 90%, 56%);
  --clr-surface-1: var(--clr-white);
  --clr-surface-2: var(--clr-neutral-50);
  --clr-surface-3: var(--clr-neutral-100);
  --clr-surface-4: var(--clr-neutral-200);
  --clr-text-1: var(--clr-neutral-800);
  --clr-text-2: var(--clr-neutral-600);

  @media (prefers-color-scheme: dark) {
    --color-scheme: dark;
    --clr-brand: hsl(220, 90%, 66%);
    --clr-surface-1: var(--clr-neutral-950);
    --clr-surface-2: var(--clr-neutral-900);
    --clr-surface-3: var(--clr-neutral-800);
    --clr-surface-4: var(--clr-neutral-700);
    --clr-text-1: var(--clr-neutral-50);
    --clr-text-2: var(--clr-neutral-300);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  interpolate-size: allow-keywords;

  color-scheme: var(--color-scheme);
  accent-color: var(--clr-brand-400);

  color: var(--clr-text-1);
  font-family: var(--ff-base, system-ui);
  line-height: 1.6;

  block-size: 100%;
  scroll-padding-block: 5lh;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1.125rem;
  word-break: break-all;
  background-color: var(--clr-surface-1);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a {
  color: var(--clr-brand);
  transition: color 0.2s ease-in-out;

  &:is(:hover, :focus) {
    color: hsl(from var(--clr-brand) h s min(l + 10%, 90%));
  }
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@view-transition {
  navigation: auto;
}

.wrapper {
  max-inline-size: var(--wrapper-size);
  margin-inline: auto;
  padding-inline: 1.25rem;

  @media (width>=640px) {
    max-inline-size: 640px;
  }
  @media (width>=768px) {
    max-inline-size: 768px;
  }
  @media (width>=1024px) {
    max-inline-size: 1024px;
  }
}

.section-padding {
  padding-block: min(10vh, 2rem);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
