@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-mono: var(--font-plex-mono);
  --font-mono--font-feature-settings: "ss02", "zero";
}

@utility container {
  @apply mx-auto px-5 md:px-10 lg:max-w-5xl;
}
