<footer>
  <div class="wrapper">
    <p>Powered by Modern <span class="highlight">CSS</span></p>
  </div>
</footer>

<style>
  footer {
    padding-block: var(--space-l);
    text-align: center;
  }

  .highlight {
    color: light-dark(rebeccapurple, hsl(from rebeccapurple h s 70%));
  }
</style>
