---
import MenuIcon from "../assets/icons/menu.svg";
import CancelIcon from "../assets/icons/cancel.svg";
import PROFILE_PIC from "../assets/profile-pic.jpg";
import { INTERNAL_LINKS, WORK_EMAIL } from "../consts";

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
---

<script>
  const menuTogglers = document.querySelectorAll(".menu-toggler");
  const menu = document.querySelector(".menu");

  menuTogglers.forEach((toggler) => {
    toggler.addEventListener("click", () => {
      menu?.classList.toggle("open");
    });
  });
</script>

<header>
  <nav class="wrapper">
    <a href="/" class="logo" aria-label="Go to homepage"
      ><img
        src={PROFILE_PIC.src}
        alt="Profile picture"
        width="42"
        height="42"
      /></a
    >

    <button class="menu-toggler">
      <MenuIcon />
      <span class="visually-hidden">Open Menu</span>
    </button>

    <div class="menu">
      <button class="menu-toggler">
        <CancelIcon />
        <span class="visually-hidden">Close Menu</span>
      </button>

      <ul class="internal-links">
        {
          INTERNAL_LINKS.map((link) => {
            const isActive =
              link.href === pathname ||
              link.href === "/" + (subpath?.[0] || "");

            return (
              <li>
                <a
                  href={link.href}
                  class:list={["internal-link", { active: isActive }]}
                >
                  {link.label}
                </a>
              </li>
            );
          })
        }

        <li class="contact-btn">
          <a href={`mailto:${WORK_EMAIL}`}>Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<style>
  header {
    position: sticky;
    inset-inline: 0;
    top: 0;

    padding-block: 0.75rem;
    background-color: hsl(from var(--clr-surface-1) h s l / 0.8);
    backdrop-filter: blur(16px);

    @media (min-width: 640px) {
      padding-block: 0.125rem;
    }
  }

  .wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    border-radius: 12px;
    min-width: fit-content;

    @supports (corner-shape: squircle) {
      border-radius: 48px;
      corner-shape: squircle;
    }
  }

  .menu-toggler {
    display: none;
    width: fit-content;
    background-color: transparent;
    border: none;

    @media (max-width: 640px) {
      display: grid;
    }

    & svg {
      width: 2rem;
      height: 2rem;
      color: var(--clr-text-1);
    }
  }

  .menu {
    @media (max-width: 640px) {
      position: fixed;
      inset: 0;
      z-index: 20;

      align-items: start;
      min-height: 100svh;
      background-color: var(--clr-surface-1);
      padding: 1.25rem;

      display: none;
      transform: translateY(100%);

      transition-property: display, transform;
      transition-duration: 250ms;
      transition-timing-function: ease-in-out;
      transition-behavior: allow-discrete;

      &.open {
        display: grid;
        transform: translateY(0);

        @starting-style {
          transform: translateY(100%);
        }
      }
    }

    & .menu-toggler {
      @media (max-width: 640px) {
        justify-self: end;
      }
    }
  }

  .internal-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @media (max-width: 640px) {
      display: grid;
      justify-items: center;
      margin: 0;
      padding: 0;
    }

    & li {
      list-style-type: none;
    }

    & a {
      font-size: 0.975rem;
      color: currentColor;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      @media (max-width: 640px) {
        font-size: 1.25rem;
      }

      &:not(.contact-btn > a):is(:hover, :focus) {
        color: var(--clr-brand);
      }

      &.active {
        color: var(--clr-brand);
      }
    }

    & .contact-btn {
      color: var(--clr-surface-1);
      background-color: var(--clr-text-1);
      padding: 0.5ch 1.5ch;
      border: 1px solid var(--clr-text-1);
      border-radius: 1e3px;
      outline: 2px solid transparent;
      outline-offset: 2px;
      transition: outline 0.2s ease-in-out;

      &:is(:hover, :focus) {
        outline-color: var(--clr-brand);
      }
    }
  }
</style>
